body{
    font-family: sans-serif;
    background-color: black;
}
.container{
    width:1468px;
    height: 700px;
    margin: 0% auto;
    position: relative;
    border: none;
    background-color: black;
    background:#00000066;
}
.hero-img{
    width: 100%;
    height: 100%;
    margin: 0%;
    border: none;
    position: relative;

    
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0.7, 0.7, 0.7, 0.7)80%,rgba(0.1, 0.1, 0.1, 0.6)60%, rgba(0, 0, 0, 0.7) 100%);
  }
  .unlimited{
    position: absolute;
    top: 30%;
    right: 17%;
    width: 1003.6;
    height: 68;
    color: white;
    align-items: center;
    font-size: 48px;
    font-weight: 800;
    
}

.nav{
    width: 1124.66;
    height: 86;
    position: absolute;
    top: 0%;
    margin:0 172px;
    display:flex;
    align-items: center;
    gap: 800px;
    
    

}
.netflix-logo{
    width: 150px;
    height: auto;
    margin: -2%;
   
}
.eng{
    padding: 6px 36px;
    width: 70px;
    height: 20px;
    border: 1px solid #ccc; 
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    opacity: 60%;
    border-radius: 5px;
    display: flex;
    gap: 10px;
   
    
   
    

}
.internet{
    height: 20px;
    width: 20px;
    border:none;
    background-color: white;
    margin-left: -30%;
   
}
.eng-btn{
    border: none;
    color: white;
    background-color: black;
    font-size: 18px ;
    font-weight: 300;
}
.sing-in{
    border: none;
    background-color: #e50914;
    width:76px ;
    height: 34px;
    color: #ccc;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    align-items: center;
}
.sign{
    display: flex;
    gap: 35px;
}
.watch-anywhere{
    width: 1003.6;
    height:27.2;
    margin: 16 px 0 px 0px;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 45%;
    left: 36%;
    
}
.hi{
    border: none;
 
   
   

}
.ready{
    height: 56px;
    margin: 16 px 0 px 0px;
    font-size: 20px;
    color: white;
    padding: 24 16 8;
    position: absolute;
    top: 54%;
    left: 27%;
   
  
    

}
.search-ingine{
    display: flex;
    height: 26px;
    gap: 10px
}
.email-address{
    
    width: 370.26px;
    height: 56px;
    opacity: 40%;
    border-radius: 5px;
    border: 1px solid #ccc; 
    background-color: rgb(23, 21, 21);
    position: absolute;
    top: 64%;
    left: 28.5%;
    font-size: 17px;
}
::placeholder {
    color: rgb(255, 255, 255); 
    
  }
  
  /* Specific styling for an input element with a specific class */
  .custom-input::placeholder {
    color: rgb(255, 255, 255); /* Replace 'blue' with your desired color */
  }
.get-started{
    
    width: 200px;
    height: 56px;

    
    color: white;
    background-color: #e50914;
    position: absolute;
    border-radius: 3px;
    top: 64%;
    right: 31.8%;
    border: 1px #e50914;
    font-size: 25px;
    text-align: center;
    
}

section {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.container2{
    width: 1128px;
    height: 540.5px;
    margin: 0px 170.4px;
    position: relative;
    padding: 10px 10px;
}
.hero2{
    width: 564px;
    height: 162.4px;
    position: absolute;
    top: 30%;
    
   

}
.hero2-flex{
   display: flex;
   
}
.hero2-heading{
    color: #f0f0f0;
    font-size: 48px;
    font-weight: 800;
}
.hero2-para{
    font-size: 24px;
    color: #ccc;
    margin-top: -2%;
}
.tv-img{
    position: absolute;
    top:10%;
    right:-5%

}
.container3{
    width: 1128px;
    height: 540.5px;
    margin: 0px 170.4px;
    position: relative;
    padding: 10px 10px;
}
.hero3{
    width: 564px;
    height: 162.4px;
    position: absolute;
    top: 17%;
    right: 0%;
    
    
   

}
.hero3-flex{
   display: flex;
   
}
.hero3-heading{
    color: #f0f0f0;
    font-size: 48px;
    font-weight: 800;
}
.hero3-para{
    font-size: 24px;
    color: #ccc;
    margin-top: -2%;
}
.tv-img3{
    position: absolute;
    top:10%;
    left: -3%;
    width: 558px;
    height: 418px;
    

}
.container3{
    width: 1128px;
    
    margin: 0px 170.4px;
    padding: 10px 10px;
}
.hero4{
    color: #ccc;
    width: 1124.66;
    height:68;
    font-size: 48px;
    font-weight: 800;
    margin-left:350px;
    margin-top: 5%;
}
.question-btn{
    padding: 24px;
    width: 1124.66px;
    height:84px;
    background-color: rgb(62, 61, 61);
    color: #ffffff;
    font-size:24px;
    text-align: left;
    align-items: center;
   margin-left: 200px;
   border: none;
    margin-top: 10px;
    transition: 0.42s;
}
.question-btn:hover{
    background-color: #8d8c8c;

}
.ready2{
   
    height: 56px;
    margin: 16 px 0 px 0px;
    font-size: 20px;
    color: white;
    padding: 24 16 8;
    margin-top: 4%;
   
    
    left: 27%;
}
.search-ingine2{
    display: flex;
    margin-left: 900px;
    
  

}
.email-address2{
    
    width: 370.26px;
    height: 56px;
    opacity: 40%;
    border-radius: 5px;
    border: 1px solid #ccc; 
    background-color: rgb(23, 21, 21);
    
   
    left: 28.5%;
    font-size: 17px;
}
::placeholder {
    color: rgb(255, 255, 255); 
    
  }
  
  /* Specific styling for an input element with a specific class */
  .custom-input::placeholder {
    color: rgb(255, 255, 255); /* Replace 'blue' with your desired color */
  }
.get-started2{
    
    width: 200px;
    height: 56px;

    
    color: white;
    background-color: #e50914;
    
    border-radius: 3px;
   
   
    border: 1px #e50914;
    font-size: 25px;
    text-align: center;
    
}
.hi2{
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer{
    color: #ccc;
    font-weight: 300;
    font-size: 16px;
     text-decoration: underline;
}
.line1{
    display: flex;
    gap: 200px;
}
.footer{
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}







    
    
    




  